@import url("https://use.typekit.net/ejy0gds.css");

:root {
	--orange-1: #ff790b;
	--orange-2: #ff831e;
	--orange-3: #f8471f;
	--blue-1: #ddedfa;
	--blue-2: #1b4369e3;
	--blue-3: #1738577e;
	--blue-4: rgb(21, 63, 126);
	--placeholder: #9fc1dd;
	--off-white: #f8fcff;
	--white: #ffffff;
	--black: #000000;
	--gray: #c2c2c2c4;
	--delete-color: rgba(230, 230, 230, 0.61);
	--gradient-1: linear-gradient(-180deg, #ff790b, #e62c03);
	--gradient-2: radial-gradient(#0258a8, #01255c);
	--focus-outline-1: 3px solid var(--orange-2);
	--focus-outline-2: 3px solid white;
	--box-shadow-1: rgba(32, 32, 63, 0.452) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	--box-shadow-2: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
	--box-shadow-3: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	--box-shadow-4: rgba(65, 65, 65, 0.275) 0px 5px 15px 0px;
	--github-fill: #094a83;
	--github-color: var(--blue-1);
	--github-focus: var(--orange-3);
	--transition: all 0.2s ease-in-out;
	--proxima: proxima-nova, sans-serif;
}

/* --------------------------------------------------------------------------- */

html,
body {
	height: 100%;
	margin: 0;
	background: var(--blue-1);
	font-family: var(--proxima);
}

/* --------------------------------------------------------------------------- */
/* Container for the left sidebar and the right main content. */

.notes {
	display: flex;
	height: 100%;
}

/* --------------------------------------------------------------------------- */
/* The left sidebar */

.notes__sidebar {
	flex-shrink: 0;
	overflow-y: auto;
	padding: 2em;
	width: 320px;
	border-right: 12px solid var(--white);
	background: var(--gradient-2);
	background-repeat: no-repeat;
}

/* --------------------------------------------------------------------------- */
/* The "Add Note" button */
/* Background and background-image properties prevent flicker effect on hover. */

.notes__add {
	overflow: hidden;
	width: 100%;
	padding: 0.25em 0;
	border: none;
	border-radius: 50px;
	margin-top: 0.4em;
	margin-bottom: 0.6em;
	background: var(--orange-1);
	background-image: var(--gradient-1);
	color: var(--white);
	box-shadow: var(--box-shadow-1);
	font-family: inherit;
	font-weight: 600;
	font-size: 2em;
	white-space: nowrap;
	transition: var(--transition);
	cursor: pointer;
}

.notes__add:hover {
	background: var(--orange-1);
	transform: scale(1.03);
}

.notes__add:active {
	box-shadow: var(--box-shadow-2);
	transform: scale(0.98);
}

/* --------------------------------------------------------------------------- */
/* Delete Instructions */

.delete {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	margin: 8px;
	color: var(--delete-color);
	text-align: center;
	user-select: none;
}

/* --------------------------------------------------------------------------- */
/* The list items */

.notes__list-item {
	overflow: hidden;
	height: 94px;
	border-radius: 5px;
	margin: 20px auto;
	background: #0070d8;
	transition: var(--transition);
	cursor: pointer;
}

.notes__list-item--selected:active,
.notes__list-item--selected {
	background: var(--off-white);
}

.notes__list-item:hover {
	background: var(--orange-2);
	transform: scale(1.03);
}

.notes__add:focus,
.notes__list-item:focus {
	outline-offset: 3px;
}

.notes__add:focus {
	outline: var(--focus-outline-1);
}

.notes__list-item:focus {
	outline: var(--focus-outline-2);
}

.notes__list-item:active {
	background: var(--orange-3);
	box-shadow: var(--box-shadow-2);
	transform: scale(0.98);
}

/* --------------------------------------------------------------------------- */
/* Small Title in each list item */

.notes__small-title {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding: 1px 10px;
	color: var(--white);
	font-size: 1.5em;
	font-weight: 550;
	letter-spacing: 0.03em;
	line-height: 40px;
}

/* --------------------------------------------------------------------------- */
/* Small Note Body in each list item */

.notes__small-body {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding: 0px 10px;
	color: var(--white);
}

/* --------------------------------------------------------------------------- */
/* Small Timestamp in each list item */

.notes__small-updated {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
	padding: 0px 10px;
	color: var(--gray);
	font-size: 0.8em;
	font-weight: 300;
	line-height: 30px;
	text-align: right;
	visibility: hidden;
}

/* --------------------------------------------------------------------------- */
/* Selected Item List */

.notes__list-item--selected .notes__small-title,
.notes__list-item--selected .notes__small-body {
	color: var(--blue-2);
}

.notes__list-item--selected .notes__small-updated {
	color: var(--blue-3);
	visibility: visible;
}

/* --------------------------------------------------------------------------- */
/* List items in hover/active state */
.notes__list-item:hover .notes__small-updated {
	visibility: visible;
}

.notes__list-item:hover .notes__small-updated {
	color: var(--black);
}

.notes__list-item:hover .notes__small-title,
.notes__list-item:hover .notes__small-body,
.notes__list-item:active .notes__small-updated {
	color: var(--white);
}

/* --------------------------------------------------------------------------- */
/* The right main content to preview/edit notes */

.notes__preview {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	padding: 1.6em 2em;
	background: var(--blue-1);
}

/* --------------------------------------------------------------------------- */
/* Title Input - "New Note" */

.notes__title {
	width: 96%;
	padding: 0px 20px 0px 20px;
	margin: 4px auto;
	margin-top: -2px;
	color: var(--github-fill);
	background: var(--blue-1);
	outline: var(--blue-1);
	border: var(--blue-1);
	font-family: var(--proxima);
	font-weight: 800;
	font-size: 4.5em;
}

.notes__title:focus {
	background: var(--white);
	box-shadow: var(--box-shadow-3);
	display: block;
	min-height: 10px;
	border: none;
	outline: none;
	overflow-y: auto;
	margin-top: -2px;
}

/* --------------------------------------------------------------------------- */
/* Placeholder for a blank title input - "New Note" */

::placeholder {
	color: var(--placeholder);
}

/* --------------------------------------------------------------------------- */
/* Note Input/textarea - "Take Note..." */

.notes__body {
	display: block;
	overflow-y: auto;
	width: 96%;
	min-height: 10px;
	flex-grow: 1;
	padding: 14px 20px;
	border: none;
	border-radius: 6px;
	margin: 10px auto;
	margin-top: 21px;
	background: var(--off-white);
	color: var(--blue-4);
	font-family: var(--proxima);
	font-size: 1.2em;
	line-height: 1.7;
	letter-spacing: 0.5px;
	resize: none;
	outline: none;
}

.notes__body:focus {
	overflow-y: auto;
	border: none;
	background: var(--white);
	box-shadow: var(--box-shadow-4);
	outline: none;
}

#take-note-label {
	color: var(--blue-1);
	user-select: none;
}

/* --------------------------------------------------------------------------- */
/* Github Corner */

.github-corner {
	transition: var(--transition);
}

.github-corner:focus .octo-arm,
.github-corner:hover .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
}

.github-corner:hover svg,
.github-corner:focus svg {
	height: 80px;
	width: 80px;
	transition: var(--transition);
}

/* --------------------------------------------------------------------------- */
/* Animation and Media Queries */

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}

	20%,
	60% {
		transform: rotate(-25deg);
	}

	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}

	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
